* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Ibarra Real Nova', serif;
}

body {
    background: radial-gradient(#A86C30, #1B1C20);
    width: 100%;
    min-height: 100vh;
}

.row {
    width: 100%;
}
.logo {
    color: white;
    font-size: 60px;
    margin-left: 20px;
}


header div a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.cont a {
    margin-right: 50px;
}

.login a {
    margin-left: 50px;
}



.cat {
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
    height: 800px;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
}

.titre {
    font-family: 'Pacifico', cursive;
    color: #A86C30;
    font-size: 70px;
    letter-spacing: 5px;
    margin: 50px;
}

.bouton {
    margin-top: auto;
    margin-left: auto;
    margin-bottom: 10px;
    width: fit-content;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 30px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    border: 2px solid #1B1C20;
    background-color:  #1B1C20;
    box-shadow: inset 2px 2px 3px #A86C30,
                inset -2px -2px 3px #A86C30;
    }
